/* head{
    position:relative;
}
.productsList{
    position: absolute;
    top:250px;
    left:90px;
}
.carts_list{
    position: absolute;
    top:250px;
    left:90px;
} */
.productsList h2{
position:relative;
left:170px;
}
.mainHeader{

    padding-top: 20px;
    padding-bottom: 20px;
}
.item{
    padding-top: 8%;
    padding-right: 80%;
    /* border: red solid 1px; */
}
.selImg{
    /* border: red solid 1px; */
    padding-top: 10%;
    width:40%;
    
}

.OTH{
    position: relative;
    right:100px;
    padding-top: 8%;
    padding-left: 8%;
    
}
.button_link{
    position: relative;
    top:40px;
    left:44%;
    
}
.blank{
    width:30%;
    height:300px;

}