*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	font-family: 'Redressed-Regular';
	background-color: rgb(236, 236, 236);
}


.mainadv{
width:100%;


}
@font-face{
	font-family: 'Redressed-Regular';
	src : url('../Redressed-Regular.ttf');
  }
/*in-line text link*/
a.commonLink{
	color:rgb(84, 102, 83);
}

/* common button */
a.commonBtn{
	background:#aaf;
	padding:0.4rem 2rem;
}

a{
	text-decoration: none;
}

a.commonLink:hover{
	text-decoration: none;
}


/* header start */
.companyUpdates{
	background-color:rgb(84, 102, 83);
	text-align:center;
	padding:0.5rem;

}
.companyUpdates p{
	font-size: 1.1em;
	color:rgb(233, 233, 233);
}
 
.mainHeader{
	display:flex;
	justify-content: space-between;
	align-items: center;
	max-width:1400px;
	margin:auto;
	
}

.font-icon-link{
	text-decoration: none;
}

/* .font-icon-link i{
	font-size:1pt;
	color:rgb(255, 255, 255);
} */

/* .phone-menu-icon i{
	color:white;
	font-size:30px;
	display:none;
} */

.mainHeader img{
	width:150px;
}

.navigation{
	background:rgb(117, 148, 116,0.8);

	border:1px solid rgb(117, 148, 116,0.8);


}

.navigation nav{
	max-width:1400px;
	margin:1.5rem auto;
	
	
}

.navigation ul{
	display:flex;
	justify-content: space-between;
	list-style-type:none;
	overflow: hidden;	
	font-size: 1.5em;
}

body>.navigation{
	position: sticky;
	top:0;
}

.navigation ul a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding-bottom:0.1rem;
	transition: color 1s;
	
}

.navigation ul a:hover{
	color: rgb(0, 0, 0);
	border-bottom:1px solid white;
}

@media only screen and (max-width:800px){

	.navigation ul{
		flex-direction: column;
	}

	.navigation ul li{
		padding:0；
	}

	.navigation ul li:hover{
		background-color:#333333;
	}

	.navigation ul a:hover{
		border-bottom:0px solid white;
	}

	.phone-menu-icon i{
		display:block;
	}

	.navigation nav ul{
		display:none;
	}

	#menu:checked + ul{
		display:block;
	}
}

#menu{
	display: none;
}

@media only screen and (max-width:500px){
	.mainHeader{
		flex-direction: column;
	}
}

.imageContainer img{
    position: relative;
    width:100%;
    padding-left: 0;
}
.mask{
	position: absolute;
    width:100%;
	height: 47rem;
	top:36px;
	left:0;
	background-color: rgba(0,0,0,.7);
}

.webname h1{
	font-size: 3em;
position:absolute;
color: rgb(223, 223, 223);
top:55%;
right: 18%;
}

.webname p{
	font-size: 1.5em;
	position:absolute;
color: rgb(223, 223, 223);
top:65%;
right: 18%;
}

.footage{
    background-color:rgb(117, 148, 116);
    text-align: center;
    list-style: none;
    border-bottom: 0px;
}

.productsList{
    display: flex;
    flex-wrap:wrap;
}
.productsList>.products{
    width:30%;
    padding-left: 10%;
    padding-bottom: 10%;
  }
  
  @media only screen and (max-width:800px){
	.productsImage{
		width:30%;
		
	}
  }

.titles{

    background-color: rgb(117, 148, 116,0.7);
	color:white;
    text-align: center;
    border: 4rem solid rgb(236, 236, 236);;
}
.productsImage{
	width:100%;
	
}

/* .button-nav {
    
	
} */
  
/* .button-nav:hover, .button-nav:focus {
    background-color: rgb(200,200,200);

} */

  
.productsImage:hover{
	box-shadow: 10px 2px 5px rgb(61, 59, 52);
	transition-duration: 0.5s;
}

.button_link{
	position:absolute;
		top:120%;
		display: inline-block;
		padding: 0.5rem;
		color: white;
		background-color: rgb(76, 105, 79);
		text-decoration: none;
		transition-property: background-color; 
		transition-duration: 0.5s;
	
	}
	
	.button_link:hover{
		box-shadow: 10px 2px 5px rgb(61, 59, 52);
	}