*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

/*in-line text link*/
a.commonLink{
	color:black;
}

/* common button */
a.commonBtn{
	background:#aaf;
	padding:0.4rem 2rem;
}

a.commonLink:hover{
	text-decoration: none;
}


/* header start */
.companyUpdates{
	background-color:#d3ebff;
	text-align:center;
	padding:0.6rem 0;
	font-size:10pt;
}

.mainHeader{
	display:flex;
	justify-content: space-between;
	align-items: center;
	max-width:1400px;
	margin:auto;
	padding:1rem 0;
}

.font-icon-link{
	text-decoration: none;
}

.font-icon-link i{
	font-size:16pt;
	color:black;
}

.phone-menu-icon i{
	color:white;
	font-size:30px;
	display:none;
}

.mainHeader img{
	width:150px;
}

.navigation{
	background:black;
	margin:0.5rem 0;
	border:1px solid black;
}

.navigation nav{
	max-width:1400px;
	margin:0.5rem auto;
}

.navigation ul{
	display:flex;
	justify-content: space-between;
	list-style-type:none;
}

.navigation ul a{
	color: white;
	text-decoration: none;
	padding-bottom:0.1rem;
	transition: color 1s;
}

.navigation ul a:hover{
	color: rgb(192, 212, 255);
	border-bottom:1px solid white;
}

@media only screen and (max-width:800px){

	.navigation ul{
		flex-direction: column;
	}

	.navigation ul li{
		padding:0.5rem;
	}

	.navigation ul li:hover{
		background-color:#333333;
	}

	.navigation ul a:hover{
		border-bottom:0px solid white;
	}

	.phone-menu-icon i{
		display:block;
	}

	.navigation nav ul{
		display:none;
	}
}

@media only screen and (max-width:500px){
	.mainHeader{
		flex-direction: column;
	}
}
.mainadv img{
    width:80%;
    padding-left: 20%;
}
.footage{
    background-color: rgb(177, 215, 247);
    text-align: center;
    list-style: none;
    border-bottom: 0px;
}

.productsList{
    display: flex;
    flex-wrap:wrap;
}
.productsList>.products{
    width:30%;
    padding-left: 10%;
    padding-bottom: 10%;
  }
  
  @media only screen and (max-width:1000px){
    productsList>.products{
    width:50%;
  }
  }

.titles{

    background-color: rgb(177, 215, 247);
    text-align: center;
    border: 4rem solid white;
}

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    background-color: rgb(151, 151, 151);
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
  }
  
  .button-nav:hover, .button-nav:focus {
    background-color: rgb(200,200,200);
  }