a{
    text-decoration: none;
}

.mainHeader{
    
    padding-top: 20px;
    padding-bottom: 20px;
}


.paymentContent{
    padding-left: 10%;
}
.paymentContent{
    padding-top: 3%;
}


.paymentBody{
    position: relative;
    /* border:1px solid red; */
}

.paymentMethod{
    position:absolute;
    top:100%;
    border-top: 10%;
    border:1px solid black;
    width:80%;
    height:50%;
    padding:20px;
}

.paymentInfo{
    position:absolute;
    top:160%;
    border-top: 10%;
    border:1px solid black;
    padding:20px;
    width:80%;
    height:65%;
   

}
.paymentInfo>p{
    padding-bottom:20px;
}
.button_link{
    position:absolute;
    top:240%;
        
    
}
.paymentMethod ul{
    position:absolute;
    top:50%;
    left:10%;


    list-style-type: none;
    display:flex;

    /* border:1px solid blue; */
   
    

}
.paymentMethod ul li{
    padding-right: 30%;
}